<p>
  <strong>Name:</strong>
  <%= @user.Name %>
</p>
 
<p>
  <strong>Accountnumber:</strong>
  <%= @user.accountnumber %>
</p>
<p>
  <strong>Date_issued:</strong>
  <%= @user.date_issued %>
</p>
<p>
  <strong>Balance:</strong>
  <%= @user.balance %>
</p>
<%= link_to 'Back', users_path %>